*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.about-us{
  width: 25%;
}
@media  (max-width:500px){
  .about-us{
    width:100%
  }
}